<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Strona Główna</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.left #coolmenu a {
	font-size: 12px;
}
</style>
</head>
<body class="site_background">
<table class="call_border" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  height="90" ><img src="/static/images/tytul.PNG" width="1000" height="105" /></td>
  </tr>
</table>
<p class="site_background">&nbsp;</p>
<table align="center" class="call_border" width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="350" width="196" valign="top" class="call_background_menu"><p></p>
      <p align="center" class="title">Linki</p>
<div id="coolmenu">
<a href="http://www.pwr.wroc.pl">Strona  PWR</a>
<a href="https://edukacja.pwr.wroc.pl">Edukacja CL</a>
<a href="https://s.pwr.wroc.pl">Poczta Elektroniczna</a>
</div>	
<p></p>
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<p align="center" class="title">System Konsultacji</p>
<div align="center" id="coolmenu">
<a href="{% url homepage_login %}">Zaloguj</a></div>
<p>&nbsp;</p></td>
    <td style="background-color:#FFF" valign="top">
    <p align="center"></p>
    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
        <td>&nbsp;</td>
        <td align="center" class="table_header">Nazwisko</td>
        <td align="center" class="table_header">Imie</td>
        <td align="center" class="table_header">Tytul</td>
        <td align="center" class="table_header">Pokój</td>
        <td align="center" class="table_header">Telefon</td>
        <td align="center" class="table_header">Konsultacje</td>
        <td align="center" class="table_header">Ważne do</td>
        <td align="center" class="table_header">Uwagi</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="line_table_1">Bawiec</td>
        <td class="line_table_1">Marek</td>
        <td class="line_table_1">mgr inż.</td>
        <td class="line_table_1">223</td>
        <td class="line_table_1">27-59</td>
        <td class="line_table_1">śr 11-13; pt 13-15</td>
        <td class="line_table_1">&nbsp;</td>
        <td class="line_table_1">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="line_table_2">Dubeła</td>
        <td class="line_table_2">Ignacy</td>
        <td class="line_table_2">prof.dr hab.inż.</td>
        <td class="line_table_2">210</td>
        <td class="line_table_2">43-55</td>
        <td class="line_table_2">wt 11-12, 16-17; czw 9-11</td>
        <td class="line_table_2">&nbsp;</td>
        <td class="line_table_2">&nbsp;</td>
		</tr>
		{% block content %}
			{% for e in entries %}
				<td>&nbsp;</td>
				<td class="line_table_2">{{ e.0 }}</td>
				<td class="line_table_2">{{ e.1 }}</td>
				<td class="line_table_2">{{ e.2 }}</td>
				<td class="line_table_2">{{ e.3 }}</td>
				<td class="line_table_2">{{ e.4 }}</td>
				<td class="line_table_2">{{ e.9 }}, {{ e.10 }} - {{ e.11 }}</td>
				<td class="line_table_2"></td>
				<td class="line_table_2">{{ e.8 }}</td>
				</tr>
			{% endfor %}
		{% endblock %}

  </table>

    <p>&nbsp;</p></td>
  </tr>
</table>




<p>&nbsp;</p>
</body>
</html>









