<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Dodawanie błędu</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.left #coolmenu a {
	font-size: 12px;
}
</style>
</head>

<body class="site_background">
<p class="site_background">&nbsp;</p>
 {% csrf_token %}
<form action="/tutor/{{ tutor_id }}/adderror/" name="formedit" method="POST">{% csrf_token %}
<table border="0" cellspacing="0" cellpadding="0">
	<p>Proszę podać informację na temat błędu:</p>
  <tr>
    <td width="143" style="padding-left:5px; font-weight: bold;">
    <p><a>Informacja: </a></p>
    </td>
    <td width="183" style="style="padding-left:5px">
	<p><textarea name="blad" id="area_blad" class="okienko" style="width: 300px;" tabindex="10" rows="4"></textarea></p>
    </td>
	
</table>
  <input style="width: 100px;" class="button3" type="submit" name="zmien" value="Dodaj błąd" />
	{% if status != '' %}
		<p>{{ status }}</p>
	{% endif %}
</form>
<p>&nbsp;</p>
</body>
</html>
