<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Dodaj prowadzącego</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.left #coolmenu a {
	font-size: 12px;
}
</style>
</head>

<body class="site_background">
<table class="call_border" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  height="90" ><img src="/static/images/tytul.PNG" width="1000" height="105" /></td>
  </tr>
</table>
<p class="site_background">&nbsp;</p>
<table align="center" class="call_border" width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="350" width="196" valign="top" class="call_background_menu"><p></p>
      <p></p>
      <p align="center" class="title">Menu</p>
<div id="coolmenu">
<a style="background-color: #F8D7B8;" href="/admin/{{ user_id }}/">Lista Prowadzących</a>
<a href="/admin/{{ user_id }}/csvexport/">Eksport do CSV</a>
<a href="/admin/{{ user_id }}/backup/">Kopia Bazy Danych</a>
<a href="/admin/{{ user_id }}/restore/">Odzyskaj Bazę Danych</a>
<a href="/admin/{{ user_id }}/html_save/">Podgląd Konsultacji</a>
<a href="/admin/{{ user_id }}/assistants/">Lista asystentów</a>
<a href="/admin/{{ user_id }}/admins/">Lista administratorów</a>
<a href="/admin/{{ user_id }}/errorcheck/">Zgłoszone błędy</a>
<a href="/admin/{{ user_id }}/logcheck/">Przegląd logów</a>
</div>
<p></p>
<div id="coolmenu">
<a href="/admin/{{ user_id }}/consultations_delete_confirm/">Usuń wszystkie konsultacje</a>
</div>		
<p></p>
<div id="coolmenu">
<a href="/logout/"><div align="center">Wyloguj</div></a></div>
<div style="background-color: #9C301A; color: #FFFFFF; " align = "center">Zalogowany użytkownik :<br>
{{ user_name }} {{ user_surname }} <br></div>
<p>&nbsp;</p></td>
    <td style="background-color:#f8f3ec" valign="top">
{% csrf_token %}
<form action="/admin/{{ user_id }}/adduser/" name="formedit" method="POST">{% csrf_token %}
<table style="padding-left:8px; padding-top: 5px; font-weight: bold;" border="0" cellspacing="0" cellpadding="0">
  <tr style="padding-top:3px; margin-top:4px; padding: 5px;">
  	<td ><a>Login: </a></td>
  	<td><input id="login" name="login" type="text" class="okienko" value="{{ user_login }}" /></td>
    <td><span style="padding-left: 5px;" id="login_massage_status"></span><span style="padding-left: 3px;" id="login_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
  <tr style="padding-top:3px; margin-top:4px; padding: 5px;">
  	<td ><a>Tytuł naukowy: </a></td>
  	<td><input id="degree" name="tytul" type="text" class="okienko" value="{{ tutor.degree }}" /></td>
    <td><span style="padding-left: 5px;" id="degree_massage_status"></span><span style="padding-left: 3px;" id="degree_massage_example"></span></td>
  </tr>
  <tr style="height:13px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#630; height:1px;">&nbsp;</div></td></tr>
  <tr>
  	<td><a>Imię: </a></td>
  	<td><input id="name" name="imie" type="text" class="okienko" value="{{ tutor.name }}" /></td>
    <td><span style="padding-left: 5px;" id="name_massage_status"></span><span style="padding-left: 3px;" id="name_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
    <tr>
  	<td><a>Nazwisko: </a></td>
  	<td><input id="surname" name="nazwisko" type="text" class="okienko" value="{{ tutor.surname }}"/></td>
    <td><span style="padding-left: 5px;" id="surname_massage_status"></span><span style="padding-left: 3px;" id="surname_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
    <tr>
  	<td><a>Instytut: </a></td>
  	<td><input id="instytute" name="instytut" type="text" class="okienko" value="{{ tutor.institute }}"/></td>
    <td><span style="padding-left: 5px;" id="instytute_massage_status"></span><span style="padding-left: 3px;" id="instytute_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
    <tr>
  	<td><a>Budynek: </a></td>
  	<td><input id="building" name="budynek" type="text" class="okienko" value="{{ localization.building }}" /></td>
    <td><span style="padding-left: 5px;" id="building_massage_status"></span><span style="padding-left: 3px;" id="building_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
    <tr>
  	<td><a>Pokój: </a></td>
  	<td><input id="room" name="pokoj" type="text" class="okienko" value="{{ localization.room }}" /></td>
    <td><span style="padding-left: 5px;" id="room_massage_status"></span><span style="padding-left: 3px;" id="room_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
    <tr>
  	<td><a>Telefon: </a></td>
  	<td><input id="phone" name="telefon" type="text" class="okienko" value="{{ tutor.phone }}" /></td>
    <td><span style="padding-left: 5px;" id="phone_massage_status"></span><span style="padding-left: 2px;" id="phone_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
    <tr>
  	<td><a>E-mail: </a></td>
  	<td><input id="email" name="email" type="text" class="okienko" value="{{ tutor.email }}" /></td>
    <td><span style="padding-left: 5px;" id="email_massage_status"></span><span style="padding-left: 2px;" id="email_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
  <tr>
  	<td><a>Adres strony WWW:</a></td>
  	<td><input id="www" name="www" type="text" class="okienko" value="{{ tutor.www }}" /></td>
    <td><span style="padding-left: 5px;" id="www_massage_status"></span><span style="padding-left: 2px;" id="www_massage_example"></span></td>
  </tr>
  <tr style="height:9px;"><td><div style="background-color:#000; height:1px;">&nbsp;</div></td><td><div style="background-color:#000; height:1px;">&nbsp;</div></td></tr>
</table>
  <a style="padding-left:5px;"><input id="button" disabled="disabled" style="color:#777777;" class="button_disabled" type="submit" name="zmien" value="Dodaj" /></a>
	{% if status != '' %}
		<p>{{ status }}</p>
	{% endif %}
</form>
    </td>
  </tr>
<p>&nbsp;</p>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/Add_User.js"></script>
</body>
</html>
