<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Lista prowadzących</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.left #coolmenu a {
	font-size: 12px;
}
</style>
</head>

<body class="site_background">
<table class="call_border" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  height="90" ><img src="/static/images/tytul.PNG" width="1000" height="105" /></td>
  </tr>
</table>
<p class="site_background">&nbsp;</p>
<table align="center" class="call_border" width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="350" width="196" valign="top" class="call_background_menu"><p></p>
      <p></p>
      <p align="center" class="title">Menu</p>
<form name="menu" action="" method="POST" />
<input type="hidden" name="username" value="{{ username }}" />
<div id="coolmenu">
<a href="/admin/{{ user_id }}/">Lista Prowadzących</a>
<a href="/admin/{{ user_id }}/csvexport/">Eksport do CSV</a>
<a href="/admin/{{ user_id }}/backup/">Kopia Bazy Danych</a>
<a href="/admin/{{ user_id }}/restore/">Odzyskaj Bazę Danych</a>
<a href="/admin/{{ user_id }}/html_save/">Podgląd Konsultacji</a>
<a href="/admin/{{ user_id }}/assistants/">Lista asystentów</a>
<a href="/admin/{{ user_id }}/admins/">Lista administratorów</a>
<a href="/admin/{{ user_id }}/errorcheck/">Zgłoszone błędy</a>
<a href="/admin/{{ user_id }}/logcheck/">Przegląd logów</a>
</div>
<p></p>
<div id="coolmenu">
<a href="/admin/{{ user_id }}/consultations_delete_confirm/">Usuń wszystkie konsultacje</a>
</div>
</form>
<p></p>

<div id="coolmenu">
<a href="/logout/">Wyloguj</a></div>

<div style="background-color: #9C301A; color: #FFFFFF; " align = "center">Zalogowany użytkownik :<br>
{{ user_name }} {{ user_surname }} <br></div>




<p>&nbsp;</p></td>

<td style="background-color:#FFF; padding-right: 8px;" valign="top">
<p align="center">Lista prowadzących<p>
<table style="padding-top:3px;" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><div align="center" style="width: auto;"  id="buttons_hr"> <a href="/admin/{{ user_id }}/adduser/" >Dodaj użytkownika</a></div>
	</th>
  </tr>
</table>
<div style="padding-left:8px;">
<table style="width: 100%;" class="call_border" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" class="table_header">Nazwisko</td>
    <td align="center" class="table_header">Imię</td>
    <td align="center" class="table_header">Konsultacje</td>
    <td align="center" class="table_header">Edycja</td>
    <td align="center" class="table_header">Status</td>
  </tr>
  
  <!---Lista prowadzących--->
  {% if consultations_data %}
  <ul>
  	{% for con in consultations_data %}
		<tr>
			<td class="line_table_1"> {{ con.surname }}</td>
			<td class="line_table_1"> {{ con.name }}</td>
			<td class="line_table_1">
			{% for consult in con.consultations %}
			{{ consult }} <br>
			{% endfor %}
			</td>
			<td class="line_table_1"> 
				<table align="center" border="0" cellspacing="0" cellpadding="0">
				
				
			<tr><td><div id="buttons_hr" style="background-color: #000000; width: 40px; height: 43px"><a href="/admin/{{ user_id }}/tutor/{{ con.tutor_id }}/edit/"><img alt="Edytuj Użytkownika" style="width: 40px; height: 40px;" src="/static/images/edit_user.png" /></a></div></td>
				<td><div style="width: 40px; height: 43px" id="buttons_hr"><a href="/admin/{{ user_id }}/consultation/{{ con.tutor_id }}/list/" ><img width="40px" height="40px" src="/static/images/note.png" /></a></div></td>
				<td><div style="width: 40px; height: 43px" id="buttons_hr"><a href="/admin/{{ user_id }}/tutor/{{ con.tutor_id }}/delete/confirm/" ><img width="40px" height="40px" src="/static/images/delete_user.png"/></a></div></td></tr>
				
				
				</table>
			</td>
            
			<td class="line_table_1"> {{ con.consultation_status }}</td>
		</tr>
	{% endfor %}
  </ul>
  {% else %}
	<p>Brak dostępnych użytkowników</p>
  {% endif %}
</table>
</div>


    <p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>


</body>
</html>








