<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Potwierdź usunięcie</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.left #coolmenu a {
	font-size: 12px;
}

</style>
</head>

<body class="site_background">
<table class="call_border" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  height="90" ><img src="/static/images/tytul.PNG" width="1000" height="105" /></td>
  </tr>
</table>
<p class="site_background">&nbsp;</p>
<table align="center" class="call_border" width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="350" width="196" valign="top" class="call_background_menu"><p></p>
      <p></p>
      <p align="center" class="title">Menu</p>
<div id="coolmenu">
<a href="/assistant/{{ user_id }}/">Lista Prowadzących</a>
<a href="/assistant/{{ user_id }}/consultations_delete_confirm/">Usuń wszystkie konsultacje</a>
<a href="/assistant/{{ user_id }}/csvexport/">Eksport do CSV</a>
<a href="/assistant/{{ user_id }}/csvimport/">Import z CSV</a>
</div>	
<p></p>
<div id="coolmenu">
<a href="/logout/">Wyloguj</a></div>
</div>
<p>&nbsp;</p></td>

<td style="background-color:#FFF" valign="top">
<p align="center">Zostanie usunięta konsultacja. Jesteś pewien?<p>
<div align="center" id="buttons_hr"> <a href="/assistant/{{ user_id }}/consultation/{{ tutor_id }}/deleteall/" >Tak</a></div>
<div align="center" id="buttons_hr"> <a href="/assistant/{{ user_id }}/consultation/{{ tutor_id }}/list/" >Nie</a></div>
<p>&nbsp;</p></td>
</tr>
</table>
<p>&nbsp;</p>


</body>
</html>
