<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Strona Główna</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.left #coolmenu a {
	font-size: 12px;
}
</style>
</head>
<body class="site_background">
<table class="call_border" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  height="90" ><img src="/static/images/tytul.PNG" width="1000" height="105" /></td>
  </tr>
</table>
<p class="site_background">&nbsp;</p>
<table align="center" class="call_border" width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="350" width="196" valign="top" class="call_background_menu"><p></p>
      <p align="center" class="title">Linki</p>
<div id="coolmenu">
<a href="http://www.pwr.wroc.pl">Strona  PWR</a>
<a href="https://edukacja.pwr.wroc.pl">Edukacja CL</a>
<a href="https://s.pwr.wroc.pl">Poczta Elektroniczna</a>
</div>	
<p></p>
<p align="center" class="title">System Konsultacji</p>
<div id="coolmenu">
<a href="/authorization/">Zaloguj</a>
</div>
<p>&nbsp;</p></td>
    <td style="background-color:#FFF" valign="top">
    <p align="center"></p>
    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
        <td>&nbsp;</td>
        <td align="center" class="table_header">Tytul</td>
        <td align="center" class="table_header">Imie</td>
        <td align="center" class="table_header">Nazwisko</td>
        <td align="center" class="table_header">Budynek</td>
		<td align="center" class="table_header">Pokój</td>
        <td align="center" class="table_header">Telefon</td>
        <td align="center" class="table_header">Konsultacji</td>
        <td align="center" class="table_header">Uwagi</td>
        <td>&nbsp;</td>
      </tr>

{% if tutors_list and localizations_list and consultations_list  %}
    <ul>
	{% for consultation in consultations_list %}
		<tr>
        <td>&nbsp;</td>
		<td class="line_table_1">{{ consultation.tutor_ID.degree }}</td>
		<td class="line_table_1">{{ consultation.tutor_ID.name }}</td>
		<td class="line_table_1">{{ consultation.tutor_ID.surname }}</td>
		
		<td class="line_table_1">{{ consultation.localization_ID.building }}</td>
		<td class="line_table_1">{{ consultation.localization_ID.room }}</td>
		<td class="line_table_1">{{ consultation.tutor_ID.phone }}</td>
		
		<td class="line_table_1">{{ consultation.day }} {{ consultation.start_hour.hour }}:{{ consultation.start_hour.minute }}-{{ consultation.end_hour.hour }}:{{ consultation.end_hour.minute }} </td>
        <td class="line_table_1"><a href="/tutor/{{ tutor.id }}/">{{ tutor.name }}</a></td>
		</tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No consultations are available.</p>
{% endif %}
        
  </table>

    <p>&nbsp;</p></td>
  </tr>
</table>




<p>&nbsp;</p>
</body>
</html>









