<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zalogowanie</title>
<link href="/style/" rel="stylesheet" type="text/css" />
</head>

<body class="site_background">
<table class="call_border" align="center" width="500" height="450" border="0" cellspacing="0" cellpadding="0">
  <tr style="background-color:#FFF" align="center">
    <td><p><img src="Templates/images/syst2.PNG" width="501" height="122" />
    <img src="/images/prof_1.gif" width="247" height="197" /></p>
    <p>
	{{ state }}
    <form action="/authorization/" name="formloguj" method="POST">
	{% csrf_token %}
	{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
    <div class="Convergence-Login-FormRow">
		<label id="usernameLabelID" for="username">Użytkownik:</label>
		<input id="username" name="username" class="okienko" type="text" value="{{ username}}">
	</div>
	<div class="Convergence-Login-FormRow">
		<label id="passwordLabelID" for="password">Hasło:</label>
		<input id="password" name="password" class="okienko" type="password">
	</div>
    <div align="right" style="padding-right: 8px;">
    	<input class="loguj" type="submit" name="logenter" value="Zaloguj" />
    </div>
    </form>
    </p></td>
  </tr>
</table>

</body>
</html>
